/* @group ----- Navigation ----- */

#primary-nav { display: none; }

#mobile-nav { 
    display:block;
    clear:both;
    overflow:hidden;
    zoom:1;
    
    ul{
        position:absolute;
        z-index:199;
        background:#fafafa;
        border-bottom:1px solid #ccc;
        width: 100%;
    }

    li {
        text-align:left;
        display:block;
        overflow:hidden;
        width: 100%;
    }
}
#mobile-nav a {
    text-decoration:none;
    display:block;
    padding: 10px;
    border:1px solid #ccc;
    border-width: 1px 1px 0 1px;
    }
    
#mobile-nav > a:first-child {
    background:#fafafa;
    cursor: pointer;
}
#mobile-nav a:hover { background:#fff; }
#mobile-nav li.current a {
    background:#fff;
    color:#ff8000;
    }
    
#mobile-nav li ul a:before {
    content: "-- ";
}
#mobile-nav li ul ul a:before {
    content: "---- ";
}

/* @end */